[include]
	path = .gitconfig.macos
	path = .gitconfig.linux
[user]
	name = Mako
	email = mnfeconicu41@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	autocrlf = input
[help]
	autocorrect = 1
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
	helper = cache --timeout 30000
[push]
	default = upstream
[alias]
	a = add
	# stages all files (git add -A) except nn-bit executable file
	aa = "!git add -A --dry-run | cut -d' ' -f 2 | xargs file | grep -v '\\b\\d\\d-bit\\b' | cut -d':' -f 1 | xargs git add"
	addp = add -p
	# list all git aliases
	alias = "!git config --get-regexp '^alias' | less"
	amend = commit --amend
	amendm = commit --amend -m
	ap = add -p
	auto = "!git-auto"
	b = branch
	# clean merged branches
	bclean = "!f() { git branch --merged ${1-master} | grep -v \" ${1-master}$\" | xargs git branch -d; }; f"
	c = commit
	cam = commit -am
	ch = checkout
	chb = checkout -b
	chm = checkout master
	cm = commit -m
	d = diff
	dc = diff --cached
	dt = diff HEAD^ HEAD
	f = fetch
	graph = log --graph --oneline --all --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	graphp = "!git graph -p"
	l = log
	lp = log -p
	open = "!git-open"
	protocol = "!git-protocol"
	r = remote
	ru = remote update
	rv = remote -v
	s = status
	# create savepoint
	save = "!git add -A && git commit -m \"SAVEPOINT\""
	showp = show -p
	ss = status -s
	sub = submodule
	suba = submodule add
	subf = submodule foreach
	subi = submodule init
	subu = submodule update
	undo = reset --mixed HEAD~1
	unstage = reset HEAD --
	update = "!git pull --prune $@ && git submodule update --init --recursive"
