# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# --- CoffeeScript ---
'.source.coffee':
  'Atom snippets':
    'prefix': 'snip'
    'body':   '''
      '.source.${1:ext}':
        '${2:name}':
          'prefix': '$3'
          'body':   '$4'
    '''
  'Atom snippet':
    'prefix': 'snipns'
    'body':   '''
    '${1:name}':
      'prefix': '$2'
      'body':   '$3'
    '''
  'function':
    'prefix': 'fun'
    'body':   '($1) -> \n\t#$0'
  'describe (BDD)':
    'prefix': 'describe'
    'body':   "describe '${1:desc}', ->\n\t#$0"
  'it (BDD)':
    'prefix': 'it'
    'body':   "it 'should $1', ->\n\t#$0"

# --- JavaScript ---
'.source.js':
  'each':
    'prefix': 'each'
    'body':   'each(function(${1:arg}) {\n\t$0\n})'
  'anonymous func':
    'prefix': 'afun'
    'body':   'function ($1) {\n\t$0\n}'
  'describe (BDD)':
    'prefix': 'describe'
    'body':   "describe('${1:desc}', () => {\n\t$0\n});"
  'it (BDD)':
    'prefix': 'it'
    'body':   "it('should $1', () => {\n\t$0\n});"
  'jQuery.click':
    'prefix': 'click'
    'body':   'click(function() {\n\t$0\n});'
  'React':
    'prefix': 'React.createClass'
    'body':   '''React.createClass({
      render: function () {
        return (
          //$0
        );
      }
    });'''

# --- Ruby --
'.source.ruby':
  'tap':
    'prefix': 'tap'
    'body':   'tap { |${1:elem}| $0 }'

# --- Elixir ---
'.source.elixir':
  '|>':
    'prefix': 'pipe'
    'body':   '|> '
  '->':
    'prefix': 'arrow'
    'body':   '->\n\t'
  'IO.inspect':
    'prefix': 'IO.inspect'
    'body':   'IO.inspect'
  'IO.puts':
    'prefix': 'IO.puts'
    'body':   'IO.puts'
  'oneline if':
    'prefix': 'if:'
    'body':   'if $1, do: $0'
  'oneline def':
    'prefix': 'def:'
    'body':   'def $1, do: $0'
  'anonymous func':
    'prefix': 'fn'
    'body':   'fn ${1:arg} -> $2 end$0'
  'anonymous func &':
    'prefix': 'fna'
    'body':   '&(&1$1)$0'
  'import':
    'prefix': 'import'
    'body':   'import ${1:Module}$0'
  'import only':
    'prefix': 'import only'
    'body':   'import ${1:Module}, only: [${2:function}: ${3:arity}]$0'
  'import except':
    'prefix': 'import except'
    'body':   'import ${1:Module}, except: [${2:function}: ${3:arity}]$0'
  'try do … rescue … end':
    'prefix': 'rescue'
    'body':   'try do\n\t$1\nrescue\n\te in RuntimeError -> e$2\nend$0'
  'try do … catch … end':
    'prefix': 'catch'
    'body':   'try do\n\t$1\ncatch\n\tx -> "Got #{x}"$2\nend$0'
  'receive do … end':
    'prefix': 'receive'
    'body':   'receive do\n  $0\nend'
  'after ->':
    'prefix': 'after'
    'body':   'after ${1:time} ->\n\t$0'
  '@doc':
    'prefix': 'doc'
    'body':   '@doc """$0\n"""'
  '@moduledoc':
    'prefix': 'mdoc'
    'body':   '@moduledoc """$0\n"""'

# --- Swift ---
'.source.swift':
  'print()':
    'prefix': 'print'
    'body': 'print("$1")$0'
  'Closure':
    'prefix': 'closure'
    'body': '{ (${1:parameters}) -> ${2:type} in ${3:body} }$0'
  'Function':
    'prefix': 'func'
    'body': '''
    func ${1:name}() {
        ${2://}
    }
    '''
  'Initializer':
    'prefix': 'init'
    'body': '''
    init() {
        ${1://}
    }
    '''
  'Deinitializer':
    'prefix': 'deinit'
    'body': '''
    deinit {
        ${1://}
    }
    '''
  'Class':
    'prefix': 'class'
    'body': '''
    class ${1:name} {
        ${2://}
    }
    '''
  'Extension':
    'prefix': 'extension'
    'body': '''
    extension ${1:type} {
        ${2://}
    }
    '''
  'Structure':
    'prefix': 'struct'
    'body': '''
    struct ${1:name} {
        ${2://}
    }
    '''
  'Enumeration':
    'prefix': 'enum'
    'body': '''
    enum ${1:name} {
        ${2://}
    }
    '''
  'Do-Catch Statement':
    'prefix': 'do'
    'body': '''
    do {
        ${2://}
    } catch ${1:ErrorType} {
        ${3://}
    } catch {
        ${4://}
    }
    '''
  'If Statement':
    'prefix': 'if'
    'body': '''
    if ${1:condition} {
        ${2://}
    }
    '''
  'Switch Statement':
    'prefix': 'switch'
    'body': '''
    switch ${1:value} {
    case ${2:value}:
        ${3://}
    default:
        ${4://}
    }
    '''
  'Guard Statement':
    'prefix': 'guard'
    'body': '''
    guard ${1:expression} else {
        ${2://}
    }
    '''
  'While Loop':
    'prefix': 'while'
    'body': '''
    while ${1:condition} {
        ${2://}
    }
    '''
  'Repeat-While Loop':
    'prefix': 'repeat'
    'body': '''
    repeat {
        ${1://}
    } while ${2:condition}
    '''
  'For Loop':
    'prefix': 'cfor'
    'body': '''
    for ${1:initialization}; ${2:condition}; ${3:incrementer} {
        ${4://}
    }
    '''
  'For-In Loop':
    'prefix': 'for'
    'body': '''
    for ${1:i} in ${2:value} {
        ${3://}
    }
    '''

# --- C ---
'.source.c':
  '#':
    'prefix': '#'
    'body':   '''
      #include <stdio.h>
      $1
      int main(int argc, char **argv) {
      \t$0
      \treturn 0;
      }
    '''
  'if':
    'prefix': 'if'
    'body':   'if (${1:true}) {$0}'
  'for':
    'prefix': 'for'
    'body':   'for (${1:i} = 0; ${1:i} < ${2:size}; ${1:i}++) {\n\t$0\n}'
  'while':
    'prefix': 'while'
    'body':   '''
      while (1) {
      \t$0
      }
    '''
  'switch':
    'prefix': 'switch'
    'body':   '''
      switch ($1) {
      \tcase $2:
      \t\t$0
      \t\tbreak;
      }
    '''
  'typedef':
    'prefix': 'typedef'
    'body':   '''
      typedef struct $1 {
      \tchar name[100];$0
      } ${2:Name};
    '''
  'printf':
    'prefix': 'printf'
    'body':   'printf("%s$1\\\\n", $2);'

# --- HTML ---
'.text.html':
  'table template':
    'prefix': 'table-templ'
    'body':   '''
      <table>
        <thead>
          <tr><th>${1:AAA}</th><th>${2:BBB}</th></tr>
        </thead>
        <tbody>
          <tr><td>foo</td><td>123</td></tr>
          <tr><td>bar</td><td>456</td></tr>
        </tbody>
      </table>
    '''
  'label':
    'prefix': 'label'
    'body':   '<label class="$1" for="$2">$0</label>'
  'input':
    'prefix': 'input'
    'body':   '<input type="$1" class="$2" value="$3" />'
  'svg':
    'prefix': 'svg'
    'body':   '<svg width="${1:500px}" height="${2:100px}">\n\t$0\n</svg>'
  'rect':
    'prefix': 'rect'
    'body':   '<rect x="$1" y="$2" width="$3" height="$4"/>'
  'circle':
    'prefix': 'circle'
    'body':   '<circle cx="$1" cy="$2" r="$3"/>'
  'ellipse':
    'prefix': 'ellipse'
    'body':   '<ellipse cx="$1" cy="$2" rx="$3" ry="$4"/>'
  'line':
    'prefix': 'line'
    'body':   '<line x1="$1" y1="$2" x2="$3" y2="$4" stroke="${5:black}"/>'
  'text':
    'prefix': 'text'
    'body':   '<text x="$1" y="$2">$0</text>'

'.text.html .meta.tag, .text.html .embedded':
  'id':
    'prefix': 'id'
    'body':   'id="$1"'
  'class':
    'prefix': 'class'
    'body':   'class="$1"'
  'width':
    'prefix': 'width'
    'body':   'width="$1"'
  'height':
    'prefix': 'height'
    'body':   'heigh="$1"'
  'fill':
    'prefix': 'fill'
    'body':   'fill="${1:color}"'
  'opacity':
    'prefix': 'opacity'
    'body':   'opacity="${1:0.5}"'
  'stroke':
    'prefix': 'stroke'
    'body':   'stroke="${1:color}"'
  'stroke width':
    'prefix': 'stroke-width'
    'body':   'stroke-width="${1:5}px"'

# --- LaTeX ---
'.text.tex.latex':
  'table':
    'prefix': 'make table'
    'body':   '''
    \\\\begin{table}[htbp]
      \\\\centering
      \\\\caption{${1:Caption}}
      \\\\label{tab:${2:Label}}
      \\\\begin{tabular}{${3:c}} \\\\toprule
        $0 \\\\\\\\
        \\\\midrule
         \\\\\\\\
        \\\\bottomrule
      \\\\end{tabular}
    \\\\end{table}$0
    '''
  'tables':
    'prefix': 'make table2'
    'body':   '''
    \\\\begin{table}[htbp]
      \\\\begin{minipage}{0.5\\\\hsize}
        \\\\centering
        \\\\caption{}
        \\\\label{tab:}
        \\\\begin{tabular}{c} \\\\toprule
           \\\\\\\\
          \\\\midrule
           \\\\\\\\
          \\\\bottomrule
        \\\\end{tabular}
      \\\\end{minipage}
      \\\\begin{minipage}{0.5\\\\hsize}
        \\\\centering
        \\\\caption{}
        \\\\label{tab:}
        \\\\begin{tabular}{c} \\\\toprule
           \\\\\\\\
          \\\\midrule
           \\\\\\\\
          \\\\bottomrule
        \\\\end{tabular}
      \\\\end{minipage}
    \\\\end{table}
    '''
  'figure':
    'prefix': 'make figure'
    'body':   '''
    \\\\begin{figure}[htbp]
      \\\\centering
      \\\\includegraphics[scale=${1:1.0}]{${2:image.file}}
      \\\\caption{${3:Caption}}
      \\\\label{fig:${4:Label}}
    \\\\end{figure}$0
    '''
  'figures':
    'prefix': 'make figure2'
    'body':   '''
    \\\\begin{figure}
      \\\\begin{minipage}{0.5\\\\hsize}
        \\\\begin{center}
          \\\\includegraphics[scale=1]{}
        \\\\end{center}
        \\\\caption{}
        \\\\label{fig:}
      \\\\end{minipage}
      \\\\begin{minipage}{0.5\\\\hsize}
        \\\\begin{center}
          \\\\includegraphics[scale=1]{}
        \\\\end{center}
        \\\\caption{}
        \\\\label{fig:}
      \\\\end{minipage}
    \\\\end{figure}
    '''

# --- ShellScript ---
'.source.shell':
  'forin':
    'prefix': 'forin'
    'body':   '''
      for ${1:item} in \$${2:array}; do
      \t#$0
      done
    '''

# --- Makefile ---
'.source.makefile':
  'SHELL':
    'prefix': 'SHELL'
    'body':   'SHELL = /bin/sh'
  'PHONY':
    'prefix': 'PHONY'
    'body':   '.PHONY:'
  'SUFFIXES':
    'prefix': 'SUFFIXES'
    'body':   '.SUFFIXES:'
  'SILENT':
    'prefix': 'SILENT'
    'body':   '.SILENT:'
